<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Source name</key>
		<string>Meduza</string>
		<key>URL</key>
		<string>https://meduza.io/rss/podcasts/meduza-v-kurse</string>
	</dict>
	<dict>
		<key>Source name</key>
		<string>Lenta</string>
		<key>URL</key>
		<string>https://lenta.ru/rss/news</string>
	</dict>
</array>
</plist>
